
<form>
    <div class="form-group">
        <label for="ContainerId">ContainerId</label>
        <input type="text" class="form-control" id="containerid" placeholder="ContainerId">
    </div>

    <div class="form-group">
        <label for="Client">Client</label>
        <input type="text" class="form-control" id="client" placeholder="Client">
    </div>

    <div class="form-group">
        <label for="BillOfLading">Bill of Lading</label>
        <input type="text" class="form-control" id="billoflading" placeholder="Bill of Lading">
    </div>

    <div class="form-group">
        <label for="ContainerId">Container Identity</label>
        <input type="text" class="form-control" id="containeridentity" placeholder="Container Identity">
    </div>


    <div class="form-group">
        <label for="ContainerType">Container Type</label>
        <select class="form-control" id="Container Type">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ContainerDimension">Container Dimension</label>
        <select multiple class="form-control" id="Container Dimension">
            <option>20</option>
            <option>40</option>            
        </select>
    </div>

    <div class="form-group">
        <label for="Status">Status</label>
        <input type="text" class="form-control" id="containerid" placeholder="ContainerId">
    </div>

    <div class="form-group">
        <label for="Comex">Comex Operation</label>
        <input type="text" class="form-control" id="Comex" placeholder="Comex Operation">
    </div>

    <div class="form-group">
        <label for="Obs">Observations</label>
        <textarea class="form-control" id="observations" rows="10"></textarea>
    </div>
</form>